<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyFirst NodeJS</title>
</head>
<body>
  <h1>Hello mon petit pote !</h1>
  <p>Alors? C'est ton premier serveur NodeJS?!</p>
</body>
</html>